{% if include.width %}
{% assign w = include.width %}
{% else %}
{% assign w = "100%" %}
{% endif %}

{% assign sources = include.src | split: ',' %}

<p class="gallery {{ include.style }}">    
    {% for source in sources %}
    <a class="floater">
        <video class="clip" width="{{ w }}" height="auto" onclick="playPause()" controls autoplay muted loop>
            <source src="{{ source }}" type="video/webm">
            Your browser does not support the video tag.
        </video>  
    </a>
    {% endfor %}
</p>