main {
    @include breakpt($mobile-width + 1, 100vw ) { 
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 40px;
    }
    
    p, h1 { margin: 0 0 40px; }
    h2 { margin: 0 0 10px; }
    
    h1 {
        @include breakpt(0, $mobile-width) {
            text-align: center;
        }
    }
    
    figure {
        margin: 0;
        
        figcaption { @include txl2small; }
        
        video {
            margin: 0;
            width: 100%;
            @include breakpt(0, $mobile-width) {
                display: block;
                margin: 0 auto;
            }
        }        
    }
    
    span.cursorside {
        animation: blinker 1s step-start 0s infinite;
        @include breakpt(0, $mobile-width) {
            display: none;
        }
    }
    
    span.cursordown {
        animation: blinker 1s step-start 0s infinite;
        display: none;
        @include breakpt(0, $mobile-width) {
            display: inline;
        }
    }
}