---
layout: default
---

{{ content }}

<main>
    {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
    <figure>
        <a href="{{ post.url }}" class="floater"><img src="{{ post.thumbnail }}" width="100%"/></a>
        <figcaption>
            <h2>{{ post.title | escape }}</h2>
            <p>
                {% for tag in post.tags %}
                  {{ tag | replace:'-', ' ' }}
                {% endfor %}
            </p>
        </figcaption>
    </figure>
    {%- endfor -%}
    {%- endif -%}
</main>